<div class="container mt-5">
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">Selecione o Cliente</h5>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Cliente</span>
            <select id="cliente" class="form-select" aria-label="Selecione o cliente" [(ngModel)]="clienteId">
              <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.razao_social }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h5 class="card-title mb-0">Selecione os produtos</h5>
        </div>
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 g-4">
            <div *ngFor="let produto of produtos" class="col">
              <div class="card">
                <div class="card-header bg-success text-white">
                  <h5 class="card-title mb-0">{{ produto.nome }}</h5>
                </div>
                <div class="card-body text-center">
                  <div id="carouselExampleAutoplaying-{{ produto.id }}" class="carousel slide mt-2 mb-2"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div *ngFor="let imagem of produto.imagens; let i = index" class="carousel-item"
                        [class.active]="i === 0">
                        <img [src]="baseUrl + imagem.url" class="d-block w-100" alt="{{ produto.nome }}"
                          style="object-fit: cover; height: 200px;">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <p class="card-text">{{ produto.descricao }}</p>
                  <p class="card-text">R${{ produto.valor }}</p>

                  <div class="mb-3">
                    <label for="quantidade-{{ produto.id }}" class="form-label">Quantidade</label>
                    <input id="quantidade-{{ produto.id }}" type="number" class="form-control"
                      [(ngModel)]="produto.quantidadeSelecionada" [min]="1" [max]="produto.quantidade_estoque"
                      [placeholder]="'Max: ' + produto.quantidade_estoque" (input)="validarQuantidade(produto)">
                    <div *ngIf="produto.quantidadeSelecionada > produto.quantidade_estoque" class="text-danger">
                      Quantidade não pode ser maior que o estoque disponível ({{ produto.quantidade_estoque }}).
                    </div>
                  </div>

                  <button class="btn btn-primary" (click)="adicionarAoCarrinho(produto)"
                    [disabled]="produto.quantidadeSelecionada > produto.quantidade_estoque">
                    Adicionar ao Carrinho
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h5 class="card-title mb-0">Carrinho</h5>
        </div>
        <div class="card-body">
          <div *ngIf="carrinho.length === 0" class="alert alert-warning">
            O carrinho está vazio
          </div>

          <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 g-4">
            <div *ngFor="let item of carrinho" class="col">
              <div class="card">
                <div class="card-header bg-secondary text-white">
                  <h5 class="card-title mb-0">{{ item.nome }}</h5>
                </div>
                <div class="card-body text-center">
                  <div id="carouselExampleAutoplaying-{{ item.id }}" class="carousel slide mt-2 mb-2"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div *ngFor="let imagem of item.imagens; let i = index" class="carousel-item"
                        [class.active]="i === 0">
                        <img [src]="baseUrl + imagem.url" class="d-block w-100" alt="{{ item.nome }}"
                          style="object-fit: cover; height: 200px;">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  <p class="card-text">R${{ item.preco | number:'1.2-2' }}</p>
                  <p class="card-text">Total: R${{ item.total | number:'1.2-2' }}</p>

                  <p class="card-text">Quantidade: {{ item.quantidade }}</p>

                  <button class="btn btn-danger" (click)="removerDoCarrinho(item.id)">Remover</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn btn-success" (click)="enviarPedido()">Enviar Pedido</button>
  </div>
</div>